:root {
    --cards-per-row: 5;
    --gap-between-cards: 4vw;
    --card-image-padding: 1vw;
    --cards-container-side-spaceing: 15vw;
    --card-size: calc((((100vw - 2*var(--cards-container-side-spaceing)) - ((var(--cards-per-row) - 1) * var(--gap-between-cards))) / var(--cards-per-row)) - (var(--card-image-padding) * 2));
  }

@media (max-width: 900px) {
    :root {
        --cards-container-side-spaceing: 10vw;
        --card-size: calc((((100vw - 2*var(--cards-container-side-spaceing)) - ((var(--cards-per-row) - 1) * var(--gap-between-cards))) / var(--cards-per-row)) - (var(--card-image-padding) * 2));
    }
  }

@media (max-width: 600px) {
    :root {
        --cards-container-side-spaceing: 1vw;
        --card-size: calc((((100vw - 2*var(--cards-container-side-spaceing)) - ((var(--cards-per-row) - 1) * var(--gap-between-cards))) / var(--cards-per-row)) - (var(--card-image-padding) * 2));
    }
}

#body {
    margin: 0;
}

.App {
    text-align: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
}

@media (max-width: 800px) {
    .App {
        font-size: 0.8rem;
    }
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #212121;
    max-width: 100%;
    min-height: 80px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 800px) {
    .header {
        padding: 1rem;
    }
}

.header > .game-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: .8rem;
    color: #747474;
    margin: 0;
}

.header #deck-size-select, .header #button-start {
    margin: 0 .5rem;
}

.logo-container {
    display: flex;
    position: absolute;
    left: 0;
    margin: 5px 5px 5px 25px;
}

@media (max-width: 800px) {
    .header {
        flex-wrap: wrap;
    }

    .header > .game-options {
        padding-bottom: 0;
    }

    .logo-container {
        display: flex;
        position: relative;
        margin: 1rem;
        flex-grow: 1;
    }
}

.logo {
    background-color: white;
    padding: 5px;
}

.game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
}

.game-info h2 {
    margin-top: 3rem;
    color: #0076dd;
}

.game-info p {
    max-width: 38rem;
}

@media (max-width: 800px) {
    .game-info {
        margin-top: 2rem;
    }

    .game-info h2 {
        margin-top: 0;
    }
}

.game-options {
    margin-top: 3rem;
}

@media (max-width: 800px) {
    .game-options {
        margin-top: 1rem;
    }
}

.game-options label {
    display: block;
}

#deck-size-select {
    font-size: 1rem;
    font-weight: 600;
    appearance: none;
    border: 1px solid #dddddd;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    line-height: 1.5em;
    margin-top: .3rem;
    padding: 0.5em 3.5em 0.5em 1em;

    background-image:
        linear-gradient(45deg, transparent 50%, #5a5a5a 50%),
        linear-gradient(135deg, #5a5a5a 50%, transparent 50%),
        linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        100% 0;
    background-size:
        5px 5px,
        5px 5px,
        2.5em 2.5em;
    background-repeat: no-repeat;
}

#button-start {
    padding: .7rem;
    font-weight: bold;
    color: #fff;
    background-color: red;
    border-color: #d60000;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 1rem;
}

#button-restart {
    padding: 0.7rem;
    font-weight: bold;
    color: #000;
    border-radius: 3px;
    cursor: pointer;
}

.game-board-container {
    padding-left: var(--cards-container-side-spaceing);
    padding-right: var(--cards-container-side-spaceing);
    padding-bottom: 10vw;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
}

.game-board-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 1rem;
}

.game-board-info {
    color: #747474;
}

.tries-count {
    color: #000;
    font-weight: 600;
}

.best-tries {
    color: #000;
    font-weight: 600;
    font-size: 2rem;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(var(--cards-per-row), var(--card-size));
    gap: var(--gap-between-cards);
    justify-content: center;
    background-color: #f2f2f2;
}

.card,
.card-inner,
.card-front,
.card-back {
    width: var(--card-size);
    height: var(--card-size);
}

.card {
    display: flex;
    align-items: center;
    perspective: 1000px;
  }

.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}

.card-inner {
    position: relative;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.card-front-image, .card-back-image {
    opacity: 1;
    width: var(--card-size);
    height: var(--card-size);
    padding: var(--card-image-padding);
    background-color: white;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px grey;
}

.matched {
    opacity: 0.3;
    transition: opacity 500ms linear;
}

.error-container {
    padding-top: 5rem;
}


.not-win-message-content {
    max-height: 0;
    transition: max-height 1s ease-in-out;
}

.win-message-content {
    color: #5dbd35;
    font-size: 2rem;
    max-height: 100px;
    transition: max-height 3s ease-in-out;
    animation: win-message-animation 3s ease-in-out forwards;
    opacity: 0;
    transform: scale(0.1);
}

@keyframes win-message-animation {
    0% {
        opacity: 0;
        transform: scale(0.1);
    }
    70% {
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
